{% load static %}  
    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" href="{% static 'styles/home.css'%}">
<link rel="stylesheet" href="{% static 'styles/dashboard.css'%}">
<link rel="stylesheet" href="{% static 'styles/log_view.css'%}">

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- FontAwesome core CSS -->
<link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css'%}">