<!-- Favor seguir as regras WCGA de acessibilidade, é um ponto importante. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="header">  
        <div>
            <a href="{% url 'events_list' %}">
                <img src="/static/aPuc1f9.png" height="80">
            </a>
        </div>

        <!-- Fix when authentication is completed -->
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
            <i class="fas fa-user menu-icon" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="header__profile-menu">
                    <h6>Bem-vindo(a), {{ user }}.<br/>Seu token é: ????.</h6>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>