<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Error Center</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav> -->

<!-- Favor seguir as regras WCGA de acessibilidade, é um ponto importante. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="container navbar__logged-items">  
    <!-- Colocar uma condição para somente aparecer isso se o usuário estiver loga, se não, aparecer um botão
    para criar ou logar na conta -->
        <h1 class="navbar-brand mt-3 mb-3">Bem-vindo, Usuário. Seu token é: sjkfdhkshdfsa.</h1>
        <div>
            <img src="../static/aPuc1f9.png" height="80">
        </div> 
    </div>
</nav>