{% extends 'base.html' %}

{% block content %}
<div class="log-view">
    <div class="log-view__btn-container">
        <div class="log-view__title">
            <h2>
                Erro no 127.0.0.1
            </h2> 
            <h2 class="text-muted ml-2 mr-2">
                |
            </h2>
            <h3 class="text-muted">
                24/05/2019 às 10h15m
            </h3>
        </div>
        <button type="button" 
            class="btn btn-outline-secondary">
            Voltar
        </button>
    </div>
    <div class="log-view__content mt-5">
        <div>
            <h4>Título</h4>
            <p>acceleration.Service.AddCandidate: forbidden</forbidden></p>
            <h4>Detalhes</h4>
            <p>batata potato 12345, line 228</forbidden></p>
        </div>
        <div>
            <p class="log-view__level-box">error</span>
            <h5>Eventos</h5>
            <p>1000</p>
            <h5>Coletado por</h5>
            <p>Token do usuário Elton Minetto</p>
        </div>
    </div>
</div>
{% endblock %}